@font-face {
	font-family: "scifi";
	src: url("/conthrax-sb.ttf");
}

html, body {
	background-color: rgb(161, 161, 161);
	margin: 0;
	
	font-family: "scifi";	
	}
	
	body {
		margin: auto;
		text-align: center;
		-webkit-user-select: none;
	
		
	}
	
	