@font-face {
	font-family: "scifi";
	src: url("/conthrax-sb.ttf");
}

html, body {
	background-color: rgb(0, 0, 0);
	margin: 0;
	cursor: url('./img/mouse.png'), default;
	font-family: "scifi";	
	}
	
	body {
		margin: auto;
		text-align: center;
		-webkit-user-select: none;
	
		
	}
	
	